.colorchange:hover {color:grey;}

.piepagina{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
}

.Copyright{
      height: 30px;
      margin: 0px;
      padding: 0px;
  } 

.catalogo{
    height: 600px;
}


.aprovado{
    height: 400px;
    margin: 0px;
    padding: 0px;
}

.formulario{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: solid 1px #000;
}

.cuadrado{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.texto{
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.spotify{
    background-color: #6b0479;
    margin: 1rem;
    padding: 1rem;
    font: 150% sans-serif;
}

.infocontacto{
    font: 130% sans-serif;
    padding-top: 20px;
    text-align: center;
    color: rgb(133, 39, 39);
}

.ordenform{
    padding-right: 150px;
    padding-left: 150px;
}

.valordolar{
    background-color: rgb(0, 80, 20);
    padding-top: 15px;
    padding-right: 150px;
    padding-left: 150px;
    font: 150% sans-serif;
}