.colorchange:hover {color:grey;}

.piepagina{
    height: 650px;
    background-color: black;
}

.Copyright{
      height: 30px;
      margin: 0px;
      padding: 0px;
  } 

.catalogo{
    height: 600px;
}

.info{
    height: 150px;
}