.colorchange:hover {color:grey;}

.piepagina{
    height: 650px;
    background-color: black;
}

.Copyright{
      height: 30px;
      margin: 0px;
      padding: 0px;
  } 

.catalogo{
    height: 600px;
}

.info{
    height: 150px;
}

.aprovado{
    height: 400px;
    margin: 0px;
    padding: 0px;
}

.formulario{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: solid 1px #000;
}

.cuadrado{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.texto{
    padding-top: 20px;
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 50px;
}

.spotify{
    background-color: #6b0479;
    margin: 1rem;
    padding: 1rem;
    font: 150% sans-serif;
}









