{%load static%}
<!doctype html>
<html lang="es">
  <head>
    <title>PC Builds</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'core/Scripts/style.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'core/Imagenes/Logos-img/logoprincipal.png' %}" width="150"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prearmados' %}">Computadores Gaming</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Componentes</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'procesadores' %}">Procesadores</a>
              <a class="dropdown-item" href="{% url 'tarjetasdevideo' %}">Tarjetas de Video</a>
              <a class="dropdown-item" href="{% url 'placasmadres' %}">Placas Madres</a>
              <a class="dropdown-item" href="{% url 'memoriasram' %}">Memorias Ram</a>
              <a class="dropdown-item" href="{% url 'discoduro' %}">Discos Duros</a>
              <a class="dropdown-item" href="{% url 'discossd' %}">Unidades SSD/M2</a>
              <a class="dropdown-item" href="{% url 'gabinetes' %}">Gabinetes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'software' %}">Software y Licencias</a>
              <a class="dropdown-item" href="{% url 'software' %}">Servicio Tecnico</a>
            </div>
          </li>
          <li>
            <div class="container text-right align-items-center">
              <a href="{% url 'carrito' %}"><img src="{% static 'core/Imagenes/img-items-componentes/carritocompra.png' %}" width="35"></a>(3)-$189.990
            </div>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>

        </form>
      </div>
    </nav>
<hr>


<!--Pago Aprobado Incio-->

<div class="container bg-success aprobado rounded ">
    <div class="row text-center">
        <div class="col-12 text-center pt-5 py-5">
            <h1>Pago Aprobado!</h1>
            <img src="{% static 'core/Imagenes/Logos-img/pagolisto.png' %}" width="100">
        </div>
        <div class="col-12 text-center">
            <b>
                <p>Felicidades!:</p>
            <p>compraste 3 articulos y pronto</p>
            <p>seran despachados a la brevedad.</p>
            </b>
        </div>

        <div class="col-12 poto">
            <a href="{% url 'index' %}">
                <button class="btn btn-primary btn-block d-flex justify-content-between mt-3" type="button">
                    <h5>Volver a Inicio</h5>
                </button>
              </a>
        </div>
    </div>
</div>

<!--Pago Aprobado FIN-->



<hr>
<hr>
<footer class="piepagina">
  <div class="container-fluid text-center">
    <div class="row text-white alto align-items-center ">
      <div class="col-sm-2">
        <!--ESPACIO-->
      </div>
      <div class="col-sm-2">
        <img src="{% static 'core/Imagenes/logos-img/logoprincipal.png' %}" width="200">
        <p class="py-5">Encuentra los mejores artículos Gamers para potenciar tu PC. Compra Online y recíbelo en tu domicilio!</p>
      </div>

      <div class="col-sm-2">
        <h5 class="py-5">Informacion</h5>
        <a href="{% url 'quienessomos' %}"><p class="colorchange">Quienes Somos</p></a>
        <a href="{% url 'politicadereembolso' %}"><p class="colorchange">Terminos y condiciones</p></a>
        <a href="{% url 'politicadereembolso' %}"><p class="colorchange">Politica de reembolso</p></a>

        
      </div>

      <div class="col-sm-2">
        <h5 class="py-5">Nuestros Productos</h5>
        <a href="{% url 'discossd' %}"><p class="colorchange">SSD</p></a>
        <a href="{% url 'memoriasram' %}"><p class="colorchange">Memorias</p></a>
        <a href="{% url 'placasmadres' %}"><p class="colorchange">Placas Madre</p></a>
        <a href="{% url 'procesadores' %}"><p class="colorchange">Procesadores</p></a>
        <a href="{% url 'tarjetasdevideo' %}"><p class="colorchange">Tarjetas de Video</p></a>
      </div>

      <div class="col-sm-2">
        <h5 class="py-5">Contacto</h5>
        <a href="https://www.facebook.com/"><img src="{% static 'core/Imagenes/Logos-img/Redes Sociales/facebook.png' %}" width="50"></a>
        <a href="https://www.instagram.com/"><img src="{% static 'core/Imagenes/Logos-img/Redes Sociales/instagram.png' %}" width="50"></a>
        <a href="https://www.whatsapp.com/?lang=es"><img src="{% static 'core/Imagenes/Logos-img/Redes Sociales/whatsapp.png' %}" width="50"></a>
        <div class="py-3">
          <p>Reclamos@pbuild.com</p>
          <a href="{% url 'contacto' %}">Contactanos</a>
        </div>
      </div>
      <div class="col-sm-2">
        <!--ESPACIO-->
      </div>
    </div>
  </div>
</footer>

    <div class="container-fluid bg-dark align-items-center text-center text-white Copyright ">
        <div class="row align-items-center">
        <div class="col-12">
            <p>© Copyright Ultimate - Todos los derechos reservados para P-build 2022</p>
            
        </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
